.hero {
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
    background-image: linear-gradient(to right, blue, purple);
    padding: 10px;
  }

  .weather-container {
    border: 1px solid black;
  }

  .weather-container {
      margin: auto;
      padding: 10px;
  }

  .search-btn {
      padding: 1px;
  }
 
  .form-input {
      width: 100%;
  }
